@page "/Sys_Table"
@attribute [TabItemOption(Text = "座位編輯", Closable = true)]

<Table TItem="Model.Universal.sys_Table.outParams"
       IsPagination="true"
       PageItemsSource="(new int[] {10,20,30,40})"
       IsStriped="true"
       IsBordered="true"
       IsMultipleSelect="false"
       ShowToolbar="true"
       ShowDefaultButtons="true"
       ShowSearch="false"
       ShowExtendButtons="false"
       OnAddAsync="OnAddAsync"
       OnSaveAsync="OnSaveAsync"
       OnQueryAsync="OnQueryAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.table_Name" />
        <TableColumn @bind-Field="@context.isPrivate_Room" IsReadonlyWhenAdd="true">
            <Template Context="v">
                @{
                    if (!v.Row.isPrivate_Room)
                    {
                        <div>
                            <p style="background-color:rgb(190,0,0);color:white;margin-bottom:auto;">
                                未結帳
                            </p>
                        </div>
                    }
                    else
                    {
                        <div>
                            <p style="background-color:rgb(60, 179, 113);color:white;margin-bottom:auto;">
                                已結帳
                            </p>
                        </div>
                    }
                }
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.seat_Count" />
        <TableColumn @bind-Field="@context.table_Status" IsVisibleWhenAdd="false" IsVisibleWhenEdit="false" />
        <TableColumn @bind-Field="@context.memo" />
    </TableColumns>


</Table>